.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
inst/doc
/doc/
/Meta/
.DS_Store
ctreeMI.Rcheck/
*.tar.gz
*.Rcheck/
*.tar.gz
ctreeMI-manual.tex
.DS_Store
*.Rcheck/
*.tar.gz
ctreeMI-manual.tex
.DS_Store
